name: Generate Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: |
          npm install axios chart.js canvas

      - name: Generate Stats Image
        run: |
          node generate-stats.js
          
      - name: Commit Stats
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git add stats.png || true
          git commit -m "Update stats"
